.header {
  width:90%;
  margin:0 auto;
  border-bottom: 1px solid #777;
  padding:10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.back_icon{
  font-size:20px;
  cursor: pointer;
}
.back_icon:hover{
  color:#2F6087;
}

.description_container{
  padding:20px 0;
}
.description{
  font-weight: bold;
  color:#2F6087;
  font-size:13px;
  text-align: center;
}
.emptybookMarkIcon{
  font-size: 20px;
  cursor: pointer;
}
.fillbookMarkIcon{
  font-size: 20px;
  cursor: pointer;
  color: #ffe600;
}
.bookMarkIcon:hover{
  color:#2F6087;
}