.header {
  display: flex;
  align-items: center;
  padding: 3% 2%;
  border-bottom: 1px solid #333;
  box-shadow: 0px 0 10px rgba(0, 0, 0, 0.8);
}
.back_icon {
  cursor: pointer;
}
.search_input {
  margin-left: 10px;
  border-radius: 8px;
  height: 40px;
  width: 84%;
  font-size: 16px;
  padding-left: 10px;
  border: 2px solid #3b66f5; /* 테두리 색상 */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* 그림자 효과 */
  border-radius: 8px; /* 테두리 모서리 둥글게 */
  font-family: "Noto Sans KR", sans-serif;
}
.search_input:focus {
  outline: none; /* 포커스 시 테두리 제거 */
}
.icon_box {
  right: 24px;
  position: absolute;
  width: 45px;
  height: 45px;
  background-color: #3b66f5;
  border-radius: 0 8px 8px 0;
}
.search_icon {
  right: 8px;
  bottom: 8px;
  position: absolute;
  font-size: 30px;
  z-index: 5;
  color: white;
  cursor: pointer;
}

.resultContainer {
  list-style: circle;
  font-family: "Noto Sans KR", sans-serif;
}
.result{
    padding:10px 0 10px 40px;
    background-color: #fffefe;
    cursor: pointer;
}
.result:hover{
    background-color:#ced9ff
}
.placeName {
    font-weight: bold;
}
.address {
    font-size: 13px;
    color: #888888;
}
.message{
  font-weight: bold;
  color:#2F6087;
  text-align: center;
  font-size:14px;
  margin-top:40px;
}
.noResults{
  text-align: center;
  font-weight: bold;
  color:red;
  font-size: 14px;
  margin-top:40px;
}