.modal_container {
    position: fixed;
    width:200px;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 0;
    padding: 15px 10px;
    background-color: #885bc1;
    border-radius: 8px;
    z-index: 10;
}
.flex_box{
    width:100%;
    margin: 0 auto;
    left: 0;
    right: 0;
    word-break: keep-all;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size:12px;
    color: rgb(248, 246, 246);
    text-align: center;
}