.modal_container {
    position: fixed;
    top: 0;
    left: 42%;
    padding: 15px;
    background-color: #885bc1;
    border-radius: 8px;
    z-index: 10;
}
.flex_box{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size:12px;
    color: rgb(248, 246, 246);
    text-align: center;
    margin:0;
}