.container{
    width :400px;
    height:480px;
    border-radius: 12px;
}
.button_container{
    left:360px;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.879);
    border-radius: 4px;
    width: 30px;
    background-color: #ffffff;
    top: 200px;
    position: relative;
    z-index: 5;
}
.plus_box{
    border-bottom: 1px solid #333;
}
.plus_box, .minus_box{
    cursor: pointer;
    padding:5px 0;
}